name: Cache Workflow

on:
  push:
    branches:
      - main

jobs:
  cache-job:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Cache dependencies
        id: cache-step
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: cache-8a3a62b

      - name: prime-cache-8a3a62b
        run: echo "Cache hit? ${{ steps.cache-step.outputs.cache-hit }}"
